azure_subscription_id = ""
github_token          = ""
github_owner          = ""
github_repo           = ""
docker_token          = ""
docker_username       = ""
container_app_name    = ""
env                   = ""
resource_group_name   = ""
location              = ""
storage_account_name  = ""